.container {
  font-family: geo, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 3rem;

  &:hover {
    color: rgb(0, 55, 255);
  }

  .input {
    width: 12rem;
    height: 2.5rem;
    line-height: 30px;
    padding: 2px 1.5rem 2px 1rem;
    border: 1.75px solid #000;
    border-radius: 8px;
    outline: none;
    background-color: #fcfcfc;
    transition: border-color 0.3s ease-in-out, padding 0.2s ease-in-out;
    letter-spacing: 0.5px;

    &:focus {
      border-color: rgb(0, 55, 255);
    }
  }

  .label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    font-size: 1rem;
  }

  &.focused .label {
    top: 0.5px;
    left: 8px;
    font-size: 0.85rem;
    color: rgb(0, 55, 255);
    background-color: #fff;
    padding: 0 5px;
  }

  &.input:focus ~ .label {
    color: rgb(0, 55, 255);
  }
}
