.container {
  font-family: geo, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 3rem;

  .input {
    width: 12rem;
    height: 2.5rem;
    line-height: 30px;
    padding: 4px 1.5rem 2px 0.8rem;
    border: 1.75px solid #000;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.3s ease-in-out, padding 0.2s ease-in-out;
    font-size: 1rem;
    // letter-spacing: 0.5px;

    &:focus {
      border-color: rgb(0, 55, 255);
    }

    &:-webkit-autofill {
      background-color: #fff;
      box-shadow: 0 0 0px 1000px #fff inset !important;
      -webkit-text-fill-color: #000 !important;
      transition: background-color 5s ease-in-out 0s;
    }
  }

  .label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    font-size: 1rem;

    &:focus {
      color: rgb(0, 55, 255);
    }
  }

  &.focused .label {
    top: 0.5px;
    left: 8px;
    font-size: 0.85rem;
    color: rgb(0, 55, 255);
    background-color: #fff;
    padding: 0 5px;
  }

  &.filled .label {
    color: #000;
  }

  &.input:focus ~ .label {
    color: rgb(0, 55, 255);
  }
}
